body {
    background-color: #FDD0D6;
    height: 1vh;
    width: 1vw;
}

#ur-roses {
    height: 25vh;
    width: auto;
    position: absolute;
    top: 0px;
    right: 0px;
} 

#ll-roses {
    height: 25vh;
    width: auto;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#invitation-content {
    display: flex;;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 50vh;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
}

#buttons {
    display: flex;
    flex-direction: row;
    width: 75%;
    align-items: center;
    justify-content: center;
    height: 6vh;
    width: 100%;
}

#yes-bttn {
    padding: 0;
    border: none;
    background-color: transparent;
    height: 100%;
    width: 20vw;
    margin: 0vw 4vw 0vw 4vw;
}

#no-bttn {
    padding: 0;
    border: none;
    background-color: transparent;
    height: 100%;
    width: 20vw;
    margin: 0vw 4vw 0vw 4vw;
}

#single-rose {
    height: 13vh;
    width: auto;
}

#vd-text {
    height: 13vh;
    width: auto;
    margin: 5vh 0vh 5vh 0vh;
}

#see-you-soon-txt {
    height: 20vh;
    width: auto;
    margin: 5vh 0vh 5vh 0vh;
}

#nono-txt {
    height: 2vh;
    width: auto;
    margin: 2vh 0vh 2vh 0vh;
}

#to-my-star-txt {
    height: 2vh;
    width: auto;
    position: absolute;
    bottom: 4vw;
    right: 4vw;
}
